<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anasayfa</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
</head>
<body>
    <header>
        <navbar>
            <ul>
                <li><a href="giris">Giriş</a></li>               
            </ul>
            <ul>
                <li><a href="kayit">Kayıt</a></li>               
            </ul>
            <ul>
                <li><a href="gorev">To Do</a></li>               
            </ul>
        </navbar>
    </header>
</body>
</html>